arch.c
.DS_Store
builds
src/framework/draw/_deps/
*autosave
CMakeLists.txt.user
build

# Downloaded files during build process
VERSION
/mscore/data/mscore.aps
/msvc.*

# Backup Files created by Merging Softwares (Example: Meld)
*.orig

temp_*

*.local.cmake

# Python
__pycache__/
*.pyc
.venv/
.pdm-python

**/_deps/*

# Stuff from 3.x builds
/share/sound/MuseScore_General*

# User overrides of SetupBuildEnvironment
/buildscripts/cmake/SetupBuildEnvironment.user.cmake

# CMake User presets
CMakeUserPresets.json

# Compile commands json
compile_commands.json
.cache

# QML language server
**/.qmlls.ini
